<section class="contact-section" id="contact-us">
  <div class="container">
    <div class="section-header">
      <h2>{{ '_contact_title' | translate }}</h2>
      <p class="subtitle">{{ '_contact_subtitle' | translate }}</p>
    </div>

    <div class="contact-form-container">
      <div class="feedback-container">
        <div *ngIf="isSent" class="feedback-message success">{{ '_contact_success_message' | translate }}</div>
        <div *ngIf="isError" class="feedback-message error">{{ '_contact_error_message' | translate }}</div>
      </div>
      
      <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
        <div class="form-group">
          <label for="name">{{ '_contact_name_label' | translate }}</label>
          <input id="name" type="text" formControlName="from_name" [placeholder]="'_contact_name_placeholder' | translate">
          <div *ngIf="contactForm.get('from_name')?.invalid && contactForm.get('from_name')?.touched" class="error-text">{{ '_contact_validation_required' | translate }}</div>
        </div>
        <div class="form-group">
          <label for="email">{{ '_contact_email_label' | translate }}</label>
          <input id="email" type="email" formControlName="from_email" [placeholder]="'_contact_email_placeholder' | translate">
          <div *ngIf="contactForm.get('from_email')?.invalid && contactForm.get('from_email')?.touched" class="error-text">{{ '_contact_validation_email' | translate }}</div>
        </div>
        <div class="form-group">
          <label for="message">{{ '_contact_message_label' | translate }}</label>
          <textarea id="message" formControlName="message" rows="6" [placeholder]="'_contact_message_placeholder' | translate"></textarea>
          <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error-text">{{ '_contact_validation_message_length' | translate }}</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn primary-gradient" [disabled]="isSending || contactForm.invalid">
            <span>{{ (isSending ? '_contact_button_sending' : '_contact_button_send') | translate }}</span>
            <svg class="icon-send" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="22" y1="2" x2="11" y2="13"></line>
              <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>