<section class="about-section" id="about-us">
  <div class="container">
    <div class="about-content">
      <h2>{{'_about_us' | translate}}</h2>
      <p class="tagline">{{'_about_us_title' | translate}}</p>
      <p>
        <!-- VectorFrom — это больше, чем просто студия 3D-моделирования. Мы — ваши партнеры в воплощении самых смелых ювелирных идей. Наша миссия — соединить вековые традиции мастерства с безграничными возможностями современных технологий, чтобы превратить ваше видение в безупречную цифровую модель. -->

         {{'_about_us_desc' | translate}}
      </p>
    </div>
  </div>
</section>