/* src/app/components/services/services.component.scss */
.services-container {
  padding: 40px 5%;
  background-color: #fff;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #333;
   margin: 15px 0 
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.icon-placeholder {
  width: 60px;
  height: 60px;
  background-color: #ffd700;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.service-card p {
  font-size: 1rem;
  color: #666;
}